<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <h1 class="bold-white-text center-text">Movies</h1>
    <br/>
    <div th:insert="fragments/back-to-management-page :: back-to-management-page"></div>
    <br/>
    <div th:if="${success != null}">
        <span class="bold-white-text center-text" th:text="${success}"></span>
    </div>
    <br/>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr th:each="movie:${movies}">
            <td><span style="color: white" th:text="${movie.title}"></span></td>
            <td>
                <a th:href="@{${href}(id=${movie.id})}" class="btn btn-primary">Choose</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>