<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <div th:insert="fragments/back-to-management-page :: back-to-management-page"></div>
    <br/>
    <form method="post" th:action="@{/admin-change-user-password}" th:object="${form}">
        <table class="table table-bordered table-striped">
            <tr>
                <td>Email or Username:</td>
                <td>
                    <label>
                        <input type="text" th:field="*{emailOrUsername}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <label>
                        <input type="password" th:field="*{password}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>
                    <label>
                        <input type="password" th:field="*{confirmPassword}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="submit" value="submit">
                    </label>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>