<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <div th:insert="fragments/errors :: errors"></div>
    <h1 class="bold-white-text center-text">Change Password</h1>
    <form th:object="${changePasswordForm}" th:action="@{/change-password}" method="post">
        <input type="hidden" th:field="*{email}" th:value="${email}">
        <input type="hidden" th:field="*{question1}" th:value="${securityQuestion1}">
        <input type="hidden" th:field="*{question2}" th:value="${securityQuestion2}">
        <table class="table table-bordered table-striped">
            <tr>
                <td>Security Question 1:</td>
                <td th:text="${securityQuestion1}"></td>
            </tr>
            <tr>
                <td>Answer to Security Question 1:</td>
                <td><label><input th:field="*{answer1}" type="text" required></label></td>
            </tr>
            <tr>
                <td>Security Question 2:</td>
                <td th:text="${securityQuestion2}"></td>
            </tr>
            <tr>
                <td>Answer to Security Question 2:</td>
                <td><label><input th:field="*{answer2}" type="text" required></label></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><label><input th:field="*{password}" type="password" required></label></td>
            </tr>
            <tr>
                <td>Confirm New Password:</td>
                <td><label><input th:field="*{confirmPassword}" type="password" required></label></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>