<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <div th:insert="fragments/errors :: errors"></div>
    <div>
        <form method="get" th:action="@{/choose-screening-to-delete}">
            <button class="btn btn-outline-primary">Go Back to Choose Screening to Delete</button>
        </form>
    </div>
    <div>
        <h1 class="bold-white-text center-text">Screening to be Deleted:</h1>
        <br/>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Showroom</th>
                <th>Movie</th>
                <th>Show Time</th>
                <td>End Time</td>
                <td>Seats Available</td>
            </tr>
            <tr>
                <td th:text="${screening.showroomLetter}"></td>
                <td th:text="${screening.movieTitle}"></td>
                <td th:text="${screening.showDateTimeFormatted()}"></td>
                <td th:text="${screening.endDateTimeFormatted()}"></td>
                <td th:text="${screening.seatsAvailable} + '/' + ${screening.totalSeatsInRoom}"></td>
            </tr>
        </table>
    </div>
    <div>
        <h1 class="bold-white-text center-text">Consequences of Deleting This Screening:</h1>
        <br/>
        <ul class="list-group-flush">
            <li th:each="info:${onDeleteInfo}" th:text="${info}"></li>
        </ul>
    </div>
    <div>
        <form method="post" th:action="@{/delete-screening/{id}(id=${screening.id})}">
            <button class="btn btn-outline-danger" th:text="'I Absolutely Want to Delete This Screening ' +
                      'With NO CHANCE OF UNDOING THIS ACTION!'"></button>
        </form>
    </div>
</div>
</body>
</html>