<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div>
    <h1 class="bold-white-text center-text">Movies</h1>
    <br/>
    <form method="get" th:action="@{/movies(page=1)}">
        <span class="bold-white-text">Search:</span>
        <label for="search"></label>
        <input type="text" name="search" id="search" size="25" th:value="${search}" required/>
        <button class="button" type="submit">Go</button>
    </form>
    <table class="table-hover">
        <tr>
            <td th:if="${totalPages > 0}" th:each="pageNumber:${pageNumbers}">
                <a th:href="@{/movies(search=${search}, page=${pageNumber})}"
                   class="btn btn-outline-primary" th:text="${pageNumber}"></a>
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <tbody>
        <tr th:each="entries:${movies}">
            <td th:each="movie:${entries.value}">
                <a th:href="@{/movie-info(id=${movie.id})}">
                    <img th:src="${movie.image}" width="400" height="500"
                         alt="failed to load image" src="">
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>